@import url('https://fonts.googleapis.com/css?family=Amatic+SC|Trade+Winds|Yeon+Sung&display=swap');

html, body{
    font-family: 'Yeon Sung', Arial;
    height: 100%;
    background-image: url('./images/castle_and_maze.png');
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
}

#d-landing {
    margin: auto;
    text-align: center;
    width: 40rem;
    margin-top: 10rem;
    background-color: white;
    border-radius: 0.5rem;
    background: rgba(255, 255, 255, 0.7);
    display: inline-block;
}

#p-landing {
    padding: 0.5rem;
    font-size: 1.25rem;
}

#h-landing {
  margin-top: 10rem;
  text-align: center;
  font-size: 5rem;
}

#b-landing{
   font-family: 'Yeon Sung', Arial;
   cursor: pointer;
   background: none;
   border: none;
   font-size: 2rem;
   padding-bottom: 1rem;
}

#b-landing:hover {
    font-weight: bold;
}