@import url('https://fonts.googleapis.com/css?family=Amatic+SC|Trade+Winds|Yeon+Sung&display=swap');

/*DEVIL'S SNARE COMP*/
#d-options{
    display: inline-block;
}

#rain, #explosion, #sunlight, #scream, #torture, #dancing, #funny, #tickle{
    background: none;
    font-family: 'Yeon Sung', Arial;
    font-size: 1.125rem;
    border: none;
    margin-right: 0.5rem;
}

#mummy, #spider, #skrewt, #dementor, #hermione, #pettigrew, #neville, #snape {
    background: none;
    font-family: 'Yeon Sung', Arial;
    font-size: 1.125rem;
    border: none;
    margin-right: 0.5rem;
}

/*CHAMBER COMP*/
#hat, #sword, #basilisk, #gryffindor {
    background: none;
    font-family: 'Yeon Sung', Arial;
    font-size: 1rem;
    border: none;
    margin-right: 0.5rem;
}

/*INSTRUCTIONS COMP*/
#p-instructions{
    font-size: 1em;
    text-align: left;
    padding: 1rem;
}

#d-instructions {
    margin: auto;
    text-align: center;
    width: 40rem;
    margin-top: 5vh;
    background-color: white;
    border-radius: 0.5rem;
    background: rgba(255, 255, 255, 0.85);
    display: inline-block;
}